# Build
build/
dist/

# Third-party dependencies (checked out via git submodule in Docker)
third_party/*
!third_party/letsmove
!third_party/GL
!third_party/KHR
!third_party/quill

# IDE
.vscode/
.idea/
*.swp
compile_commands.json
.cache/
out
app.log

