[Desktop Entry]
Name=Jellyfin Desktop
Comment=Experimental rewrite of Jellyfin Desktop built on CEF
Exec=jellyfin-desktop
Icon=org.jellyfin.JellyfinDesktop
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;
StartupWMClass=org.jellyfin.JellyfinDesktop
